/*Hamburger */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 2000;
    transition: all 0.25;
    display: none;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  
  }
  .hamburger-middle{
    transform: translateY(7px);
  }
  .hamburger-bottom{
    transform: translateY(14px);
  }
  .open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
  
  }
  .open .hamburger-middle{
    display: none;
  }
  .open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  
  }
  
  /*Mobile Menu*/
  .mobile-menu{
    position: fixed;
    top: 85px;
    right: 0;
    background-color: #fff;
    width: 90%;
    color: #000;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb( 0 0 0 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 /7%);
    transition: all 0.3s;
  }
  
  .mobile-menu ul{
    line-height: 3;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  .mobile-menu a{
    text-decoration: none;
    font-size: 30px;
  
  }
  
  .mobile-menu a:hover{
    color: green;
  }
  
  .mobile-menu div{
    margin-top: 20px;
  }
  
  .mobile-menu div a{
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .hidden{
    transform: translateX(100%);
  }
  .no-scroll{
    overflow: hidden;
  }

  @media(max-width:768px){
    .hamburger{
        display: block;}
    .navbar{
        display: none;}
    }